@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

body {
  font-family: 'Sriracha', cursive;
  background-color: burlywood;
  font-weight: bold;
  font-size: 100%;
}

h1 {
  margin: 0em;
}

.town {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  border: 2px solid saddlebrown;
  background-color: #fff;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

.losses {
  align-items: baseline;
  justify-content: center;
  text-align: left;
  margin-top: -2em;
}

.losses figure {
  display: table-cell;
  width: 45%;
}

.results h2 {
  margin-top: 0em;
  margin-bottom: 1.5em;
}

.results img {
  max-height: 2em;
}

.results li {
  display: flex;
}

.town img {
  max-height: 2em;
}

.town img:nth-of-type(2) {
  position: relative;
  left: -1em;
  top: 0.75em;
  max-height: 1.5em;
}

.unitList {
  margin: 1em;
}

.unitEntry {
  display: flex;
  flex-direction: row;
}

.unitEntry input {
  width: 60px;
  height: 25px;
  line-height: 30px;
  border-radius: 0.25em;
  border: 0px;
  color: #fff;
  text-align: center;
  background: saddlebrown;
  margin: 0.25em 1em 0em 0.25em;
  font-family: 'Sriracha', cursive;
  font-size: 1em;
  font-weight: bold;
  accent-color: saddlebrown;
}

.unitEntry input:focus {
  background: burlywood;
  color: black;
}

button.config {
  width: 30px;
  height: 25px;
  line-height: 30px;
  border-radius: 0.25em;
  border: 0px;
  color: #fff;
  text-align: center;
  background: saddlebrown;
  margin: 0.25em 1em 0em -0.75em;
  font-family: 'Sriracha', cursive;
  font-size: 1em;
  font-weight: bold;
  accent-color: saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.resetArmy {
  width: 50px;
  margin: auto;
  background: #b00b0b;
}

.battle {
  border: 2px solid saddlebrown;
  background-color: #fff;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
  text-align: center;
}

.hidden {
  display: none;
}

button.run {
  display: inline-block;
  font-family: 'Sriracha', cursive;
  border: none;
  padding: 0rem 2rem;
  border-radius: 0.2em;
  border: 3px solid darkred;
  margin: 0.5em;
  text-decoration: none;
  background: #b00b0b;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out,
    transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button.run:hover,
button.run:focus {
  background: red;
  transform: scale(1);
}

button.run:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
  transform: scale(1);
}

button.run:active {
  transform: scale(0.8);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.settings {
  display: inline-block;
  border: 2px solid saddlebrown;
  background-color: #fff;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}